<a href="https://colab.research.google.com/github/alpturk3/gaih-students-repo-example/blob/main/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
CV1 = {"Name": "James", "Gender": "Male", "Age": 32, "Job":"Accountant", "Education Level":"University"}
CV2 = {"Name": "Mary", "Gender": "Female", "Age": 28,"Job":"IT Manager", "Education Level":"University"}
CV3 = {"Name": "Michael", "Gender": "Male", "Age": 45,"Job":"HR Manager", "Education Level":"University"}
CV4 = {"Name": "Kate", "Gender": "Female", "Age": 35,"Job":"Business Developer", "Education Level":"Master"}
CV5 = {"Name": "Anthony", "Gender": "Male", "Age": 34,"Job":"Bus Driver", "Education Level":"Highschool"}
print(CV1)
print(CV2)
print(CV3)
print(CV4)
print(CV5)

{'Name': 'James', 'Gender': 'Male', 'Age': 32, 'Job': 'Accountant', 'Education Level': 'University'}
{'Name': 'Mary', 'Gender': 'Female', 'Age': 28, 'Job': 'IT Manager', 'Education Level': 'University'}
{'Name': 'Michael', 'Gender': 'Male', 'Age': 45, 'Job': 'HR Manager', 'Education Level': 'University'}
{'Name': 'Kate', 'Gender': 'Female', 'Age': 35, 'Job': 'Business Developer', 'Education Level': 'Master'}
{'Name': 'Anthony', 'Gender': 'Male', 'Age': 34, 'Job': 'Bus Driver', 'Education Level': 'Highschool'}